#../CompareSet/active/active
#Mon Dec 04 20:05:26 CET 2017
RESMIDDLE=\\s.{0,100}
PARAIN=query
SEARCHBASE=false
URLBASE=
ABBREV_DELETE=delete
NUMBER=multiple
TEMPLATE=list
URLAFTER=\ 
URL1PARA2=true
REQKEY=SAMPLE REQUEST
REQMIDDLE=\\s.{0,100}
URL1RES2=true
RESEXAMPLE=((\\{)|(\\[)){1}(.*?)((\\})|(\\])){1}
REQEXAMPLE=http
URLTEMPLATE=no
EXISTPARA=true
RESTEMPLATE=span
REQTEMPLATE=a
MODE=http
STUFFING=(.*?)
URLMIDDLE=
RESKEY=no
URL1REQ2=true
PARAKEY=(parameter)|(argument)|(field)|(parameters)|(arguments)
REVERSE=yes
