#../CompareSet/accuweather/accuweather
#Wed Nov 29 13:35:00 CET 2017
PARAIN=query
SEARCHBASE=false
ABBREV_DELETE=delete
NUMBER=multiple
TEMPLATE=list
URLAFTER=\ 
REQKEY=request
REQMIDDLE=\\s
RESEXAMPLE=true
REQEXAMPLE=no
EXISTPARA=true
MODE=http
STUFFING=\\s.{0,60}
URLMIDDLE=
RESKEY=response
U1P2=true
REVERSE=no
PARAKEY=(parameter)|(argument)|(field)
