[submodule "rest_crawler"]
	path = rest_crawler
	url = https://github.com/caohanyang/rest_crawler.git
[submodule "predict_page"]
	path = predict_page
	url = https://github.com/caohanyang/predict_page.git
[submodule "gen_spec"]
	path = gen_spec
	url = https://github.com/caohanyang/gen_spec.git
