#../CompareSet/flickr/flickr
#Mon Dec 04 18:00:43 CET 2017
RESMIDDLE=\\s.{0,60}
PARAIN=query
SEARCHBASE=true
URLBASE=
ABBREV_DELETE=delete
NUMBER=multiple
TEMPLATE=list
URLAFTER=\ 
URL1PARA2=true
REQKEY=no
REQMIDDLE=\\s
URL1RES2=true
RESEXAMPLE=((\\{)|(\\[)){1}(.*?)((\\})|(\\])){1}
REQEXAMPLE=((\\{)|(\\[)){1}(.*?)((\\})|(\\])){1}
URLTEMPLATE={
EXISTPARA=true
RESTEMPLATE=pre
REQTEMPLATE=code
MODE=null
STUFFING=(.*?)
URLMIDDLE=
RESKEY=no
URL1REQ2=true
PARAKEY=(parameter)|(argument)|(field)|(parameters)|(arguments)
REVERSE=no
