#../CompareSet/microsoft/microsoft
#Mon Dec 11 19:17:49 CET 2017
RESMIDDLE=(.*?)
PARAIN=query
SEARCHBASE=false
URLBASE=
ABBREV_DELETE=delete
NUMBER=multiple
TEMPLATE=table
URLAFTER=\ 
URL1PARA2=true
REQKEY=Examples
REQMIDDLE=(.*?)
URL1RES2=true
RESEXAMPLE=((\\{)|(\\[)){1}(.*?)((\\})|(\\])){1}
REQEXAMPLE=http\://
URLTEMPLATE=no
EXISTPARA=true
RESTEMPLATE=pre
REQTEMPLATE=pre
MODE=https\://
STUFFING=(.*?)
URLMIDDLE=
RESKEY=JSON Response
URL1REQ2=true
PARAKEY=(parameter)|(argument)|(field)|(parameters)|(arguments)|(fields)
REVERSE=no
