#../CompareSet/linkedin/linkedin
#Mon Dec 04 23:05:58 CET 2017
RESMIDDLE=\\s
PARAIN=query
SEARCHBASE=false
URLBASE=
ABBREV_DELETE=delete
NUMBER=multiple
TEMPLATE=table
URLAFTER=\ 
URL1PARA2=true
REQKEY=no
REQMIDDLE=(.*?)
URL1RES2=true
RESEXAMPLE=((\\{)|(\\[)){1}(.*?)((\\})|(\\])){1}
REQEXAMPLE=curl
URLTEMPLATE={
EXISTPARA=true
RESTEMPLATE=code
REQTEMPLATE=code
MODE=https
STUFFING=\\s
URLMIDDLE=
RESKEY=(example)|(response)
URL1REQ2=true
PARAKEY=(parameter)|(argument)|(field)|(parameters)|(arguments)
REVERSE=no
