#../CompareSet/github/github
#Tue Dec 12 14:35:54 CET 2017
RESMIDDLE=\\s.{0,30}
PARAIN=query
PARAMIDDLE=13
URLKEY=
SEARCHBASE=true
URLBASE=
ABBREV_DELETE=delete
NUMBER=multiple
TEMPLATE=list
URLAFTER=\ 
URL1PARA2=true
REQKEY=Example
RESEXAMPLE=(\\<)(.*?)(\\>)
REQMIDDLE=\\s.{0,60}
URL1RES2=true
REQEXAMPLE=curl
URLTEMPLATE=no
EXISTPARA=true
RESTEMPLATE=pre
REQTEMPLATE=pre
VERBKEY=
EXISTVERB=no
MODE=/
STUFFING=\\s
URLMIDDLE=
RESKEY=Example Response
URL1REQ2=true
PARAKEY=(parameter)|(argument)|(field)|(parameters)|(arguments)|(fields)
REVERSE=no
