#../CompareSet/books/books
#Sun Dec 03 23:17:00 CET 2017
RESMIDDLE=\\s.{0,5}
PARAIN=query
SEARCHBASE=false
ABBREV_DELETE=delete
NUMBER=multiple
TEMPLATE=table
URLAFTER=\ 
URL1PARA2=true
REQKEY=no
REQMIDDLE=\\s.{0,100}
URL1RES2=true
RESEXAMPLE=((\\{)|(\\[)){1}(.*?)((\\})|(\\])){1}
REQEXAMPLE=((\\{)|(\\[)){1}(.*?)((\\})|(\\])){1}
URLTEMPLATE=\:
EXISTPARA=true
RESTEMPLATE=pre
REQTEMPLATE=code
MODE=https
STUFFING=\\s.{0,100}
URLMIDDLE=
RESKEY=Example Response
URL1REQ2=true
PARAKEY=Parameters
REVERSE=no
