{
  "basePath": "/books/v1",
  "paths": {
    "/users": {
      "GET": {
        "parameters": [
          {
            "in": "query",
            "name": "Required",
            "description": "Parameters",
            "type": "integer",
            "required": "required"
          },
          {
            "in": "query",
            "name": "shelf",
            "description": "string ID of bookshelf to retrieve volumes.",
            "type": "integer",
            "required": "required"
          },
          {
            "in": "query",
            "name": "userId",
            "description": "string ID of user for whom to retrieve bookshelf volumes.",
            "type": "integer",
            "required": "required"
          },
          {
            "in": "query",
            "name": "Optional",
            "description": "Parameters",
            "type": "integer",
            "required": "required"
          },
          {
            "in": "query",
            "name": "maxResults",
            "description": "unsigned integer Maximum number of results to return",
            "type": "integer",
            "required": "required"
          },
          {
            "in": "query",
            "name": "showPreorders",
            "description": "boolean Set to true to show pre-ordered books. Defaults to false.",
            "type": "integer",
            "required": "required"
          },
          {
            "in": "query",
            "name": "source",
            "description": "string String to identify the originator of this request.",
            "type": "integer",
            "required": "required"
          },
          {
            "in": "query",
            "name": "startIndex",
            "description": "unsigned integer Index of the first element to return (starts at 0)",
            "type": "integer",
            "required": "required"
          }
        ]
      }
    },
    "/": {
      "POST": {},
      "GET": {}
    }
  },
  "produces": "application/json",
  "host": "www.googleapis.com",
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": "This is the information of the API"
}
