#../CompareSet/aiception/aiception
#Thu Nov 30 15:26:45 CET 2017
PARAIN=query
SEARCHBASE=false
ABBREV_DELETE=delete
NUMBER=multiple
TEMPLATE=table
URLAFTER=\ 
URL1PARA2=true
REQKEY=
REQMIDDLE=
URL1RES2=false
RESEXAMPLE=true
REQEXAMPLE=curl
URLTEMPLATE=<
EXISTPARA=true
RESTEMPLATE=code
REQTEMPLATE=code
MODE=http
STUFFING=\\s
URLMIDDLE=
RESKEY=
URL1REQ2=false
PARAKEY=(parameter)|(argument)|(field)
REVERSE=no
