#groupme
#Mon Nov 27 20:36:39 CET 2017
PARAIN=query
SEARCHBASE=true
ABBREV_DELETE=delete
NUMBER=multiple
TEMPLATE=list
URLAFTER=\ 
REQKEY=request
REQMIDDLE=\\s.{0,60}
RESEXAMPLE=true
REQEXAMPLE=\\{(.*?)\\}
EXISTPARA=true
MODE=/
STUFFING=\\s
URLMIDDLE=
RESKEY=response
U1P2=true
REVERSE=no
PARAKEY=(parameter)|(argument)|(field)
