{
  "basePath": "/sell/fulfillment/v1",
  "paths": {
    "/buy/order/v1/purchase_order/5832216756": {
      "GET": {}
    },
    "/api.sandbox.ebay.com/buy/v1/deals": {
      "GET": {}
    },
    "/api.sandbox.ebay.com/identity/v1/oauth2/token": {
      "POST": {}
    },
    "/apix.ebay.com/buy/v1/checkout_session/{checkoutSessionId}/place_order": {
      "POST": {}
    },
    "/order/{orderId}/fulfillment/{fulfillmentId}": {
      "GET": {}
    },
    "/apix.ebay.com/buy/order/v1/checkout_session/initiate": {
      "POST": {}
    },
    "/api.ebay.com/buy/feed/v1_beta/item_summary": {
      "GET": {}
    },
    "/order/{": {
      "GET": {}
    },
    "/": {
      "POST": {},
      "GET": {}
    },
    "/identity/v1/oauth2/token": {
      "POST": {}
    },
    "/order/6498414015!260000000562911": {
      "GET": {}
    },
    "/buy/browse/v1/item/v1|201533667898|0": {
      "GET": {
        "parameters": [
          {
            "in": "query",
            "name": "title\n\nSamsung",
            "description": "Galaxy Note 4 SM-N910U Gold 5.7\\\" QHD, 32GB, 16MP\n\n",
            "type": "integer",
            "required": true
          },
          {},
          {},
          {},
          {
            "in": "query",
            "name": "localizedAspects.name\nlocalizedAspects.value\n\nContract\n\nWithout",
            "description": "Contract\n\nWithout Contract\n",
            "type": "integer",
            "required": true
          },
          {},
          {},
          {
            "in": "query",
            "name": "localizedAspects.name\nlocalizedAspects.value\n\nLock",
            "description": "Status\n\nFactory Unlocked\n",
            "type": "integer",
            "required": true
          },
          {},
          {},
          {
            "in": "query",
            "name": "shippingOptions.shippingServiceCode\n\nshippingOptions.shippingCost.value\n\nUSPS",
            "description": "Standard\n\n0.00\n",
            "type": "integer",
            "required": true
          },
          {
            "in": "query",
            "name": "shippingOptions.shippingServiceCode\n\nshippingOptions.shippingCost.value\n\nFedEx",
            "description": "Express\n\n1.99\n",
            "type": "integer",
            "required": true
          },
          {
            "in": "query",
            "name": "shippingOptions.shippingServiceCode\n\nshippingOptions.shippingCost.value\n\nFedEx",
            "description": "2-Day\n\n2.99\n",
            "type": "integer",
            "required": true
          },
          {
            "in": "query",
            "name": "shippingOptions.shippingServiceCode\n\nshippingOptions.shippingCost.value\n\nFedEx",
            "description": "Overnight\n\n16.99\n",
            "type": "integer",
            "required": true
          }
        ]
      }
    },
    "/order": {
      "GET": {}
    },
    "/api.sandbox.ebay.com/buy/v1/session": {
      "POST": {}
    },
    "/apix.ebay.com/buy/order/v1/guest/checkout_session/initiate": {
      "POST": {}
    },
    "/apix.ebay.com/buy/order/v1/guest_checkout_session/{checkoutSessionId}/place_order": {
      "POST": {}
    },
    "/order/{orderId}/shipping_fulfillment": {
      "POST": {},
      "GET": {}
    }
  },
  "produces": "application/json",
  "host": "api.ebay.com",
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": "This is the information of the API"
}