#../CompareSet/instagram/instagram
#Wed Dec 13 11:56:02 CET 2017
RESMIDDLE=\\s.{0,10}
PARAIN=query
PARAMIDDLE=13
URLKEY=
SEARCHBASE=false
URLBASE=
ABBREV_DELETE=delete
NUMBER=multiple
TEMPLATE=table
URLAFTER=\n
URL1PARA2=true
REQKEY=
RESEXAMPLE=((\\{)|(\\[)){1}(.*?)((\\})|(\\])){1}
REQMIDDLE=.{0,10}
URL1RES2=true
REQEXAMPLE=curl
URLTEMPLATE={
EXISTPARA=true
RESTEMPLATE=code
REQTEMPLATE=code
VERBKEY=
EXISTVERB=yes
MODE=https\://
STUFFING=(.*?)
URLMIDDLE=
RESKEY=no
URL1REQ2=true
PARAKEY=parameters
REVERSE=no
