#../CompareSet/youtube/youtube
#Mon Dec 04 18:37:32 CET 2017
RESMIDDLE=\\s.{0,100}
PARAIN=query
SEARCHBASE=false
URLBASE=
ABBREV_DELETE=delete
NUMBER=multiple
TEMPLATE=table
URLAFTER=\ 
URL1PARA2=true
REQKEY=no
REQMIDDLE=\\s
URL1RES2=true
RESEXAMPLE=((\\{)|(\\[)){1}(.*?)((\\})|(\\])){1}
REQEXAMPLE=((\\{)|(\\[)){1}(.*?)((\\})|(\\])){1}
URLTEMPLATE=no
EXISTPARA=true
RESTEMPLATE=pre
REQTEMPLATE=code
MODE=https
STUFFING=\\s
URLMIDDLE=
RESKEY=(example)|(response)
URL1REQ2=true
PARAKEY=(parameter)|(argument)|(field)|(parameters)|(arguments)
REVERSE=no
