#../CompareSet/geonames/geonames
#Tue Dec 12 19:47:22 CET 2017
RESMIDDLE=\\s.{0,30}
PARAIN=query
PARAMIDDLE=13
URLKEY=Url \:
SEARCHBASE=false
URLBASE=
ABBREV_DELETE=delete
NUMBER=multiple
TEMPLATE=table
URLAFTER=\ 
URL1PARA2=true
REQKEY=EXAMPLE
RESEXAMPLE=((\\{)|(\\[)){1}(.*?)((\\})|(\\])){1}
REQMIDDLE=\\s
URL1RES2=true
REQEXAMPLE=http
URLTEMPLATE=no
EXISTPARA=true
RESTEMPLATE=pre
REQTEMPLATE=a
VERBKEY=
EXISTVERB=no
MODE=key
STUFFING=.{0,10}
URLMIDDLE=
RESKEY=no
URL1REQ2=true
PARAKEY=(parameters)|(arguments)|(parameters)|(arguments)
REVERSE=no
