#../CompareSet/layar/layar
#Fri Dec 01 22:03:18 CET 2017
RESMIDDLE=\\s.{0,100}
PARAIN=query
SEARCHBASE=false
ABBREV_DELETE=delete
NUMBER=multiple
TEMPLATE=table
URLAFTER=\ 
URL1PARA2=true
REQKEY=request\:
REQMIDDLE=\\s.{0,100}
URL1RES2=true
RESEXAMPLE=((\\{)|(\\[)){1}(.*?)((\\})|(\\])){1}
REQEXAMPLE=\\{(.*?)\\}
URLTEMPLATE=<
EXISTPARA=true
RESTEMPLATE=code
REQTEMPLATE=code
MODE=http
STUFFING=\\s
URLMIDDLE=\ 
RESKEY=response\:
URL1REQ2=true
PARAKEY=(parameter)|(argument)|(field)
REVERSE=no
