#../CompareSet/box/box
#Tue Dec 12 20:08:46 CET 2017
RESMIDDLE=\\s.{0,10}
PARAIN=query
PARAMIDDLE=13
URLKEY=
SEARCHBASE=false
URLBASE=
ABBREV_DELETE=delete
NUMBER=multiple
TEMPLATE=table
URLAFTER=\n
URL1PARA2=true
REQKEY=cURL
RESEXAMPLE=((\\{)|(\\[)){1}(.*?)((\\})|(\\])){1}
REQMIDDLE=.{0,10}
URL1RES2=true
REQEXAMPLE=curl
URLTEMPLATE=no
EXISTPARA=true
RESTEMPLATE=pre
REQTEMPLATE=pre
VERBKEY=
EXISTVERB=yes
MODE=https\://
STUFFING=.{0,10}
URLMIDDLE=\ 
RESKEY=200
URL1REQ2=true
PARAKEY=QUERY PARAMS
REVERSE=no
