{
  "basePath": "/v3",
  "paths": {
    "/transactions/{transaction_type}/search": {
      "GET": {
        "parameters": [
          {
            "in": "query",
            "name": "latitude",
            "description": "decimal Required when location isn't provided. Latitude of the location you want to deliver to.",
            "type": "integer",
            "required": "required"
          },
          {
            "in": "query",
            "name": "longitude",
            "description": "decimal Required when location isn't provided. Longitude of the location you want to deliver to.",
            "type": "integer",
            "required": "required"
          },
          {
            "in": "query",
            "name": "location",
            "description": "string Required when latitude and longitude aren't provided. Address of the location you want to deliver to.",
            "type": "integer",
            "required": "required"
          }
        ]
      }
    },
    "/businesses/north-india-restaurant-san-francisco": {
      "GET": {}
    },
    "/businesses/{id}/reviews": {
      "GET": {
        "parameters": [
          {
            "in": "query",
            "name": "locale",
            "description": "string Optional. Specify the interface locale; this determines the language of reviews to return. See the list of supported locales .",
            "type": "integer",
            "required": "required"
          }
        ]
      }
    },
    "/businesses/{id}": {
      "GET": {
        "parameters": [
          {
            "in": "query",
            "name": "locale",
            "description": "string Optional. Specify the locale to return the business information in. See the list of supported locales .",
            "type": "integer",
            "required": "required"
          }
        ]
      }
    },
    "/autocomplete": {
      "GET": {
        "parameters": [
          {
            "in": "query",
            "name": "text",
            "description": "string Required. Text to return autocomplete suggestions for.",
            "type": "integer",
            "required": "required"
          },
          {
            "in": "query",
            "name": "latitude",
            "description": "decimal Required if want to get autocomplete suggestions for businesses. Latitude of the location to look for business autocomplete suggestions.",
            "type": "integer",
            "required": "required"
          },
          {
            "in": "query",
            "name": "longitude",
            "description": "decimal Required if want to get autocomplete suggestions for businesses. Longitude of the location to look for business autocomplete suggestions.",
            "type": "integer",
            "required": "required"
          },
          {
            "in": "query",
            "name": "locale",
            "description": "string Optional. Specify the locale to return the autocomplete suggestions in. See the list of supported locales .",
            "type": "integer",
            "required": "required"
          }
        ]
      }
    },
    "https://api.yelp.com/oauth2/token": {
      "get": {}
    },
    "/businesses/search/phone": {
      "GET": {
        "parameters": [
          {
            "in": "query",
            "name": "phone",
            "description": "string Required. Phone number of the business you want to search for. It must start with + and include the country code, like +14159083801.",
            "type": "integer",
            "required": "required"
          }
        ]
      }
    }
  },
  "produces": "application/json",
  "host": "api.yelp.com",
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": "This is the information of the API"
}