#../CompareSet/vimeo/vimeo
#Fri Dec 01 23:38:00 CET 2017
RESMIDDLE=\\s.{0,100}
PARAIN=query
SEARCHBASE=false
ABBREV_DELETE=delete
NUMBER=multiple
TEMPLATE=table
URLAFTER=\ 
URL1PARA2=true
REQKEY=no
REQMIDDLE=\\s.{0,100}
URL1RES2=true
RESEXAMPLE=((\\{)|(\\[)){1}(.*?)((\\})|(\\])){1}
REQEXAMPLE=\\{(.*?)\\}
URLTEMPLATE={
EXISTPARA=true
RESTEMPLATE=code
REQTEMPLATE=code
MODE=https
STUFFING=\\s
URLMIDDLE=\ 
RESKEY=no
URL1REQ2=true
PARAKEY=Name
REVERSE=no
