#../CompareSet/instagram/instagram
#Mon Dec 04 16:18:38 CET 2017
RESMIDDLE=\\s.{0,60}
PARAIN=query
SEARCHBASE=false
URLBASE=
ABBREV_DELETE=delete
NUMBER=multiple
TEMPLATE=table
URLAFTER=\ 
URL1PARA2=true
REQKEY=no
REQMIDDLE=\\s
URL1RES2=true
RESEXAMPLE=((\\{)|(\\[)){1}(.*?)((\\})|(\\])){1}
REQEXAMPLE=((\\{)|(\\[)){1}(.*?)((\\})|(\\])){1}
URLTEMPLATE={
EXISTPARA=true
RESTEMPLATE=pre
REQTEMPLATE=code
MODE=https
STUFFING=(.*?)
URLMIDDLE=
RESKEY=no
URL1REQ2=true
PARAKEY=Parameters
REVERSE=no
