{
  "basePath": "/language/translate/v2",
  "paths": {
    "/languages": {
      "GET": {
        "responses": {
          "200": {
            "description": "correct response",
            "example": {
              "name": "string",
              "language": "string"
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "\nstring\n\nThe translation model of the supported languages. Can be either base to return languages supported by the Phrase-Based Machine Translation (PBMT) model, or nmt to return languages supported by the Neural Machine Translation (NMT) model. If omitted, then all supported languages are returned.\n\nLanguages supported by the NMT model can only be translated to or from English (en).\n",
            "description": "translation model of the supported languages. Can be either base to return languages supported by the Phrase-Based Machine Translation (PBMT) model, or nmt to return languages supported by the Neural Machine Translation (NMT) model. If omitted, then all supported languages are returned.\n\nLanguages supported by the NMT model can only be translated to or from English (en).\n",
            "type": "integer",
            "required": true
          },
          {
            "in": "query",
            "name": "\nstring\n\nA valid API key to handle requests for this API. If you are using OAuth 2.0 service account credentials (recommended), do not supply this parameter.\n",
            "description": "valid API key to handle requests for this API. If you are using OAuth 2.0 service account credentials (recommended), do not supply this parameter.\n",
            "type": "integer",
            "required": true
          }
        ]
      }
    },
    "/detect": {
      "POST": {
        "responses": {
          "200": {
            "description": "correct response",
            "example": {
              "detections": [
                "array"
              ]
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "q",
            "description": "string\n\nRequired The input text upon which to perform language detection. Repeat this parameter to perform language detection on multiple text inputs.\n",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "key",
            "description": "valid API key to handle requests for this API. If you are using OAuth 2.0 service account credentials (recommended), do not supply this parameter.\n",
            "type": "integer",
            "required": true
          }
        ]
      }
    },
    "/": {
      "PUT": {
        "responses": {
          "200": {
            "description": "correct response",
            "example": {
              "translatedText": "string",
              "detectedSourceLanguage": "string"
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "q",
            "description": "string\n\nRequired The input text to translate. Repeat this parameter to perform translation operations on multiple text inputs.\n",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "target",
            "description": "The language to use for translation of the input text, set to one of the language codes listed in Language Support .\n",
            "type": "integer",
            "required": true
          },
          {
            "in": "query",
            "name": "format",
            "description": "format\nstring\n\nThe format of the source text, in either HTML (default) or plain-text. A value of html indicates HTML and a value of text indicates plain-text.\n",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "source",
            "description": "language of the source text, set to one of the language codes listed in Language Support . If the source language is not specified, the API will attempt to detect the source language automatically and return it within the response.\n",
            "type": "integer",
            "required": true
          },
          {
            "in": "query",
            "name": "model",
            "description": "translation model. Can be either base to use the Phrase-Based Machine Translation (PBMT) model, or nmt to use the Neural Machine Translation (NMT) model. If omitted, then nmt is used.\n\nIf the model is nmt , and the requested language translation pair is not supported for the NMT model, then the request is translated using the base model.\n",
            "type": "integer",
            "required": true
          },
          {
            "in": "query",
            "name": "key",
            "description": "valid API key to handle requests for this API. If you are using OAuth 2.0 service account credentials (recommended), do not supply this parameter.\n",
            "type": "integer",
            "required": true
          }
        ]
      }
    }
  },
  "produces": "application/json",
  "host": "translation.googleapis.com",
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": "This is the information of the API"
}