#../CompareSet/translate/translate
#Wed Dec 13 22:06:00 CET 2017
RESMIDDLE=\\s.{0,120}
PARAIN=query
PARAMIDDLE=13
URLKEY=
SEARCHBASE=false
URLBASE=
ABBREV_DELETE=delete
NUMBER=multiple
TEMPLATE=table
URLAFTER=\n
URL1PARA2=true
REQKEY=no
RESEXAMPLE=((\\{)|(\\[)){1}(.*?)((\\})|(\\])){1}
REQMIDDLE=.{0,10}
URL1RES2=true
REQEXAMPLE=((\\{)|(\\[)){1}(.*?)((\\})|(\\])){1}
URLTEMPLATE=no
EXISTPARA=true
RESTEMPLATE=pre
REQTEMPLATE=pre
VERBKEY=
EXISTVERB=yes
MODE=https\://
STUFFING=\\s
URLMIDDLE=\ 
RESKEY=JSON representation
URL1REQ2=true
PARAKEY=parameters
REVERSE=no
