#../CompareSet/behance/behance
#Mon Nov 27 21:23:43 CET 2017
PARAIN=query
SEARCHBASE=false
ABBREV_DELETE=delete
NUMBER=multiple
TEMPLATE=list
URLAFTER=\ 
REQKEY=request
REQMIDDLE=\\s
RESEXAMPLE=true
REQEXAMPLE=http
EXISTPARA=true
MODE=/
STUFFING=\\s
URLMIDDLE=\ 
RESKEY=response
U1P2=true
REVERSE=no
PARAKEY=(parameter)|(argument)|(field)
