#../CompareSet/aws/aws
#Tue Dec 05 15:20:59 CET 2017
RESMIDDLE=\\s.{0,20}
PARAIN=query
SEARCHBASE=true
URLBASE=
ABBREV_DELETE=delete
NUMBER=multiple
TEMPLATE=table
URLAFTER=\ 
URL1PARA2=true
REQKEY=EXAMPLE REQUEST
REQMIDDLE=\\s.{0,60}
URL1RES2=true
RESEXAMPLE=((\\{)|(\\[)){1}(.*?)((\\})|(\\])){1}
REQEXAMPLE=http
URLTEMPLATE=no
EXISTPARA=true
RESTEMPLATE=code
REQTEMPLATE=code
MODE=/
STUFFING=\\s
URLMIDDLE=
RESKEY=(example)|(response)
URL1REQ2=true
PARAKEY=(parameter)|(argument)|(field)|(parameters)|(arguments)|(fields)
REVERSE=no
