#../CompareSet/eventful/eventful
#Tue Dec 05 00:22:22 CET 2017
RESMIDDLE=\\s
PARAIN=query
SEARCHBASE=false
URLBASE=
ABBREV_DELETE=delete
NUMBER=multiple
TEMPLATE=list
URLAFTER=\ 
URL1PARA2=false
REQKEY=EXAMPLE REQUEST
REQMIDDLE=\\s.{0,60}
URL1RES2=true
RESEXAMPLE=((\\{)|(\\[)){1}(.*?)((\\})|(\\])){1}
REQEXAMPLE=http
URLTEMPLATE=no
EXISTPARA=true
RESTEMPLATE=pre
REQTEMPLATE=p
MODE=http
STUFFING=\\s
URLMIDDLE=
RESKEY=(example)|(response)
URL1REQ2=true
PARAKEY=(parameter)|(argument)|(field)|(parameters)|(arguments)
REVERSE=no
