{
  "basePath": "/api/v2",
  "paths": {
    "/following": {
      "GET": {}
    },
    "https://api.picplz.com/,": {
      "POST": {}
    },
    "http://picplz.com/pics": {
      "GET": {}
    },
    "https://api.picplz.com/api/v2/user/follow": {
      "DELETE": {},
      "POST": {}
    },
    "/followers": {
      "GET": {}
    },
    "https://api.picplz.com/api/v2/pic": {
      "GET": {}
    },
    "https://api.picplz.com/api/v2/user": {
      "GET": {}
    },
    "https://api-upload.picplz.com/api/v2/upload_basic": {
      "POST": {}
    },
    "/filters": {
      "GET": {}
    },
    "/feed": {
      "GET": {}
    },
    "https://YOUR_REGISTERED_REDIRECT_URI": {
      "GET": {}
    },
    "/pic": {
      "GET": {}
    },
    "http://picplz.com/city/san-francisco-ca/Â Â --->": {
      "GET": {}
    },
    "https://api.picplz.com/api/v2/pic/like": {
      "DELETE": {}
    },
    "https://api.picplz.com/api/v2/pic/comment": {
      "DELETE": {},
      "get": {}
    },
    "http://picplz.com/api/v2/user": {
      "GET": {}
    },
    "http://picplz.com/user/jenyasis/pic": {
      "DELETE": {},
      "post": {},
      "GET": {}
    },
    "https://api.picplz.com/api/v2/collection/pic": {
      "DELETE": {}
    },
    "/user": {
      "GET": {},
      "get": {}
    },
    "http://picplz.com/apps": {
      "GET": {}
    },
    "http://picplz.com/api/v2/feed": {
      "GET": {},
      "get": {}
    },
    "/city": {
      "GET": {},
      "get": {}
    }
  },
  "produces": "application/json",
  "host": "api.picplz.com",
  "schemes": [
    "http"
  ],
  "swagger": "2.0",
  "info": "This is the information of the API"
}