#../CompareSet/site/site
#Mon Dec 04 19:46:59 CET 2017
RESMIDDLE=\\s.{0,100}
PARAIN=query
SEARCHBASE=false
URLBASE=
ABBREV_DELETE=delete
NUMBER=multiple
TEMPLATE=table
URLAFTER=\ 
URL1PARA2=true
REQKEY=(example\:)|(examples\:)
REQMIDDLE=\\s.{0,60}
URL1RES2=true
RESEXAMPLE=((\\{)|(\\[)){1}(.*?)((\\})|(\\])){1}
REQEXAMPLE=curl
URLTEMPLATE=no
EXISTPARA=true
RESTEMPLATE=span
REQTEMPLATE=b
MODE=http
STUFFING=(.*?)
URLMIDDLE=
RESKEY=no
URL1REQ2=true
PARAKEY=(parameter)|(argument)|(field)|(parameters)|(arguments)
REVERSE=yes
